@charset "UTF-8";
@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: local("※"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype"); }
@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: local("※"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype"); }
@font-face {
  font-family: "NotoSans";
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: local("※"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype"); }
body, h1, h2, h3, h4, h5, h6, ul, p, button {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  color: inherit;
  font-weight: inherit; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit; }

img {
  vertical-align: top;
  border: none;
  max-width: 100%; }

header, nav, section, article, footer {
  display: block; }

strong {
  font-weight: inherit; }

.sr-only {
  position: absolute;
  left: -9999px;
  top: 0px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.po-absol {
  position: absolute; }

.po-relat {
  position: relative; }

:root {
  --mainColor: #7ec6c5; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  -webkit-transition: color 0.5s, background 0.5s;
  -moz-transition: color 0.5s, background 0.5s;
  -o-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
  font-family: "NotoSans";
  font-weight: 400;
  font-size: 18px;
  color: var(--mainColor);
  word-break: keep-all; }

#skip a {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  position: fixed;
  left: -9999px;
  top: 0px;
  z-index: 800;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: var(--mainColor); }

#skip a:focus {
  left: 0px; }

h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 50px; }

h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px; }

/* fixed */
#color-change-btn,
#indicator {
  position: fixed;
  z-index: 799; }

#color-change-btn {
  left: 30px;
  bottom: 30px; }
  #color-change-btn .color-btn-active span,
  #color-change-btn .color-black,
  #color-change-btn .color-blue,
  #color-change-btn .color-red {
    /* opacity : 0; */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%; }
  #color-change-btn .color-btn-active {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 0px; }
    #color-change-btn .color-btn-active span:nth-child(1) {
      background: rgba(51, 52, 53, 0.9);
      left: 0px;
      top: 0px; }
    #color-change-btn .color-btn-active span:nth-child(2) {
      background: rgba(126, 198, 197, 0.9);
      left: 4px;
      top: -5px; }
    #color-change-btn .color-btn-active span:nth-child(3) {
      background: rgba(203, 101, 134, 0.9);
      left: 8px;
      top: 0px; }
    #color-change-btn .color-btn-active.active ~ button {
      opacity: 1;
      z-index: 800; }
    #color-change-btn .color-btn-active.active ~ .color-black {
      background: #333435;
      left: 5px;
      top: -50px; }
    #color-change-btn .color-btn-active.active ~ .color-blue {
      background: #7ec6c5;
      left: 30px;
      top: -30px; }
    #color-change-btn .color-btn-active.active ~ .color-red {
      background: #cb6586;
      left: 40px; }
  #color-change-btn .color-black, #color-change-btn .color-blue, #color-change-btn .color-red {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    left: 3px;
    top: -2px;
    opacity: 0;
    z-index: -1; }
  #color-change-btn .color-black {
    background: #333435; }
  #color-change-btn .color-blue {
    background: #7ec6c5; }
  #color-change-btn .color-red {
    background: #cb6586; }

#fixed-line .deco-line {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  position: absolute;
  width: 3px;
  background: var(--mainColor);
  height: 360px;
  z-index: 500; }
#fixed-line .deco-line1 {
  left: 50%;
  top: 210px;
  height: 650px; }
#fixed-line .deco-line2 {
  left: 50%;
  top: 210px;
  height: 650px; }
#fixed-line .deco-line3 {
  display: none;
  left: 1635px;
  top: 270px;
  height: 510px; }
#fixed-line .deco-line4 {
  display: none;
  left: 2246px;
  top: 240px;
  height: 600px; }

#indicator {
  top: 50%;
  left: 20px;
  margin-top: -67.5px; }
  #indicator a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: transform 0.6s, color 0.5s, background 0.5s;
    -moz-transition: transform 0.6s, color 0.5s, background 0.5s;
    -o-transition: transform 0.6s, color 0.5s, background 0.5s;
    transition: transform 0.6s, color 0.5s, background 0.5s;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    border: 3px solid #aaaaaa; }
    #indicator a:hover, #indicator a:focus {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      #indicator a:hover div, #indicator a:focus div {
        width: 110px;
        opacity: 1; }
    #indicator a div {
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position: absolute;
      left: 20px;
      top: -5px;
      background: var(--mainColor);
      color: #fff;
      font-size: 12px;
      opacity: 0;
      width: 0px;
      height: 20px;
      line-height: 20px;
      text-align: center; }
  #indicator a:last-child {
    margin-bottom: 0px; }
  #indicator a.active {
    background: var(--mainColor);
    border-color: var(--mainColor); }

/* cnt */
#container, #cnt-wrap, #intro, #contents,
#project, #webAcce, #aboutMe {
  width: 100%;
  height: 100%; }

#intro {
  position: relative; }
  #intro .fillbg {
    -webkit-transition: opacity 0.8s, background 0.5s;
    -moz-transition: opacity 0.8s, background 0.5s;
    -o-transition: opacity 0.8s, background 0.5s;
    transition: opacity 0.8s, background 0.5s;
    background: var(--mainColor);
    position: absolute; }
  #intro div:nth-child(1), #intro div:nth-child(2), #intro div:nth-child(3) {
    width: 0vw;
    height: 50vh; }
  #intro div:nth-child(1) {
    left: 0%;
    top: 0%; }
  #intro div:nth-child(2) {
    left: 50%;
    top: 0%; }
  #intro div:nth-child(3) {
    right: 50%;
    top: 50%; }
  #intro div:nth-child(4) {
    left: 50%;
    top: 50%;
    width: 50vw;
    height: 0vh; }
  #intro .txt-ani {
    left: 50%;
    top: 50%;
    margin: -10vh 0px 0px -20vw;
    width: 40vw;
    height: 20vh;
    color: #fff;
    font-size: 70px;
    text-align: center; }
    #intro .txt-ani span {
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
      opacity: 0; }
  #intro .intro-down-arr {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 60px;
    left: calc(50% - 10px);
    width: 30px;
    height: 50px;
    border: 1px solid var(--mainColor); }
    #intro .intro-down-arr svg {
      -webkit-animation: scrolldown 1.2s 5s infinite;
      -moz-animation: scrolldown 1.2s 5s infinite;
      -o-animation: scrolldown 1.2s 5s infinite;
      animation: scrolldown 1.2s 5s infinite;
      fill: none;
      stroke: var(--mainColor);
      stroke-width: 1px;
      margin-left: -1px; }
    #intro .intro-down-arr .arr-down {
      -webkit-animation: lineAni 1s 4s linear 1 both;
      -moz-animation: lineAni 1s 4s linear 1 both;
      -o-animation: lineAni 1s 4s linear 1 both;
      animation: lineAni 1s 4s linear 1 both;
      stroke-dasharray: 28.284271240234375;
      stroke-dashoffset: 28.284271240234375; }

#contents {
  display: none; }
  #contents > p {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    position: fixed;
    left: calc(50% - 125px);
    width: 250px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: var(--mainColor); }
    #contents > p.active {
      opacity: 1; }
  #contents .prev-txt {
    -webkit-border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 0px 20px 20px;
    top: 0px; }
  #contents .next-txt {
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    border-radius: 20px 20px 0px 0px;
    bottom: 0px; }
  #contents .scroll-border {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
    position: fixed;
    left: calc(50% - 50px);
    bottom: 50px;
    width: 100px;
    height: 5px;
    border: 1px solid var(--mainColor); }
    #contents .scroll-border .scroll-fill {
      -webkit-transition: width 0.6s;
      -moz-transition: width 0.6s;
      -o-transition: width 0.6s;
      transition: width 0.6s;
      display: block;
      width: 5%;
      height: 3px;
      background: var(--mainColor); }
  #contents .hor {
    position: relative;
    width: 150%;
    height: 100%; }
    #contents .hor > div {
      position: absolute; }
      #contents .hor > div ul {
        color: #333333; }
        #contents .hor > div ul li {
          padding-bottom: 30px; }
          #contents .hor > div ul li:last-child {
            padding-bottom: 0px; }
    #contents .hor .cnt-project {
      left: 497px;
      top: 310px; }
      #contents .hor .cnt-project .margin30 {
        margin-bottom: 30px; }
    #contents .hor .cnt-skills {
      left: 1064px;
      top: 211px; }
    #contents .hor .cnt-webAcce {
      left: 1665px;
      top: 368px; }
    #contents .hor .cnt-about {
      left: 2276px;
      top: 300px; }
    #contents .hor .cnt-skills ul, #contents .hor .cnt-about ul {
      -webkit-transition: color 0.5s, background 0.5s;
      -moz-transition: color 0.5s, background 0.5s;
      -o-transition: color 0.5s, background 0.5s;
      transition: color 0.5s, background 0.5s;
      font-size: 30px;
      color: var(--mainColor); }

#project {
  display: none; }
  #project > div {
    float: left;
    width: 50vw;
    height: 100vh; }
  #project .project-txt-area {
    display: table; }
    #project .project-txt-area .project-common {
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding-left: 12vw;
      padding-bottom: 120px; }
      #project .project-txt-area .project-common ~ .project-common {
        display: none; }
    #project .project-txt-area p {
      margin-bottom: 100px;
      color: #333333; }
    #project .project-txt-area a {
      -webkit-transition: color 0.5s, background 0.5s;
      -moz-transition: color 0.5s, background 0.5s;
      -o-transition: color 0.5s, background 0.5s;
      transition: color 0.5s, background 0.5s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      width: 100px;
      height: 50px;
      line-height: 50px;
      margin-left: 8em;
      text-align: center;
      border: 1px solid var(--mainColor); }
  #project .project-modal-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 10vh 0px;
    text-align: center; }
    #project .project-modal-area h2 {
      position: absolute;
      left: 40%;
      top: 2%;
      font-size: 30px;
      margin-bottom: 0px; }
    #project .project-modal-area .modal-btn {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      float: left;
      width: 25vw;
      height: 40vh;
      background: #fff;
      border: 15px solid rgba(var(--mainColor), 0.5); }
      #project .project-modal-area .modal-btn:hover, #project .project-modal-area .modal-btn:focus {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 8px #aaaaaa;
        -moz-box-shadow: 0px 0px 8px #aaaaaa;
        box-shadow: 0px 0px 8px #aaaaaa;
        z-index: 600; }
      #project .project-modal-area .modal-btn p {
        padding: 20px 0px 30px;
        font-size: 22px;
        color: #333333; }
      #project .project-modal-area .modal-btn img {
        width: 100%;
        height: auto; }

#webAcce {
  display: none; }
  #webAcce h2 {
    position: fixed;
    left: 5%;
    top: 3%;
    margin-bottom: 0px; }
  #webAcce > div {
    float: left;
    width: 50vw;
    height: 100vh; }
  #webAcce .web-txt-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    #webAcce .web-txt-area .web-txt-common {
      margin-bottom: 8em;
      width: 700px;
      height: auto; }
      #webAcce .web-txt-area .web-txt-common h3, #webAcce .web-txt-area .web-txt-common strong, #webAcce .web-txt-area .web-txt-common p {
        color: #333333; }
      #webAcce .web-txt-area .web-txt-common h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 60px; }
      #webAcce .web-txt-area .web-txt-common strong {
        font-size: 20px;
        display: block;
        margin-bottom: 60px; }
      #webAcce .web-txt-area .web-txt-common p + p {
        margin-top: 40px; }
    #webAcce .web-txt-area .tabpanel {
      display: none; }
      #webAcce .web-txt-area .tabpanel.active {
        display: block; }
    #webAcce .web-txt-area .slide-container {
      position: relative;
      overflow: hidden; }
      #webAcce .web-txt-area .slide-container > div {
        display: none;
        margin-left: 100%;
        top: 0px; }
      #webAcce .web-txt-area .slide-container div:nth-of-type(1) {
        display: block;
        margin-left: 0px; }
    #webAcce .web-txt-area #acceBtn {
      position: absolute;
      bottom: 10rem;
      text-align: center; }
      #webAcce .web-txt-area #acceBtn li {
        -webkit-transition: color 0.5s, background 0.5s;
        -moz-transition: color 0.5s, background 0.5s;
        -o-transition: color 0.5s, background 0.5s;
        transition: color 0.5s, background 0.5s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        float: left;
        margin-left: 63px;
        cursor: pointer; }
        #webAcce .web-txt-area #acceBtn li.active {
          color: #fff;
          background: var(--mainColor); }
      #webAcce .web-txt-area #acceBtn li:first-child {
        margin-left: 0px; }
  #webAcce .web-slide-area {
    position: relative; }
    #webAcce .web-slide-area .swiper-container, #webAcce .web-slide-area .swiper-container .swiper-slide > ul {
      height: 100%; }
    #webAcce .web-slide-area .slide-bg, #webAcce .web-slide-area .slide-txt {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 100%;
      height: 50%; }
    #webAcce .web-slide-area .slide-bg {
      background: #aaaaaa no-repeat center top; }
    #webAcce .web-slide-area .slide-txt {
      background: var(--mainColor);
      color: #fff; }
    #webAcce .web-slide-area .swiper-button-prev, #webAcce .web-slide-area .swiper-button-next {
      -webkit-transition: transform 0.3s, opacity 0.3s;
      -moz-transition: transform 0.3s, opacity 0.3s;
      -o-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      top: 24%; }
      #webAcce .web-slide-area .swiper-button-prev.active, #webAcce .web-slide-area .swiper-button-next.active {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1; }
    #webAcce .web-slide-area .swiper-button-prev {
      -webkit-transform: translateX(-60px);
      -moz-transform: translateX(-60px);
      -o-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
      transform: translateX(-60px);
      opacity: 0; }
    #webAcce .web-slide-area .swiper-button-next {
      -webkit-transform: translateX(60px);
      -moz-transform: translateX(60px);
      -o-transform: translateX(60px);
      -ms-transform: translateX(60px);
      transform: translateX(60px);
      opacity: 0; }
    #webAcce .web-slide-area .swiper-button-prev:after, #webAcce .web-slide-area .swiper-button-next:after {
      color: #fff;
      text-shadow: 0px 0px 7px #333333; }

#aboutMe {
  display: none;
  position: relative; }
  #aboutMe svg {
    display: block;
    width: 100%;
    height: 100%; }
    #aboutMe svg .forward {
      -webkit-animation: forwardAni 1.2s 0.4s linear 1 forwards;
      -moz-animation: forwardAni 1.2s 0.4s linear 1 forwards;
      -o-animation: forwardAni 1.2s 0.4s linear 1 forwards;
      animation: forwardAni 1.2s 0.4s linear 1 forwards;
      fill: none;
      stroke: var(--mainColor);
      stroke-width: 3px;
      stroke-dasharray: 1640.58056640625;
      stroke-dashoffset: 1640.58056640625; }
    #aboutMe svg .forward2 {
      -webkit-animation: reverseAni 1.2s 0.4s linear 1 forwards;
      -moz-animation: reverseAni 1.2s 0.4s linear 1 forwards;
      -o-animation: reverseAni 1.2s 0.4s linear 1 forwards;
      animation: reverseAni 1.2s 0.4s linear 1 forwards;
      fill: none;
      stroke: var(--mainColor);
      stroke-width: 3px;
      stroke-dasharray: 1638.235107421875;
      stroke-dashoffset: 1638.235107421875; }
  #aboutMe div {
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 105px); }
    #aboutMe div ul {
      text-align: center; }
      #aboutMe div ul li {
        -webkit-transition: color 1.2s;
        -moz-transition: color 1.2s;
        -o-transition: color 1.2s;
        transition: color 1.2s;
        width: 800px;
        height: 70px; }
        #aboutMe div ul li strong, #aboutMe div ul li span {
          float: left;
          line-height: 70px; }
        #aboutMe div ul li strong {
          text-align: left;
          font-size: 30px;
          padding-right: 60px;
          width: 180px; }
        #aboutMe div ul li span {
          font-size: 22px;
          color: #333333; }
        #aboutMe div ul li:first-child span {
          line-height: 1.5; }

@-webkit-keyframes scrolldown {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 5px; }
  100% {
    margin-top: -1px; } }
@-moz-keyframes scrolldown {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 5px; }
  100% {
    margin-top: -1px; } }
@keyframes scrolldown {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 5px; }
  100% {
    margin-top: -1px; } }
@-webkit-keyframes lineAni {
  0% {
    stroke-dashoffset: 28.284271240234375; }
  100% {
    stroke-dashoffset: 0; } }
@-moz-keyframes lineAni {
  0% {
    stroke-dashoffset: 28.284271240234375; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes lineAni {
  0% {
    stroke-dashoffset: 28.284271240234375; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes forwardAni {
  0% {
    stroke-dashoffset: 1640.58056640625; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }
@-moz-keyframes forwardAni {
  0% {
    stroke-dashoffset: 1640.58056640625; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }
@keyframes forwardAni {
  0% {
    stroke-dashoffset: 1640.58056640625; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }
@-webkit-keyframes reverseAni {
  0% {
    stroke-dashoffset: 1638.235107421875; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }
@-moz-keyframes reverseAni {
  0% {
    stroke-dashoffset: 1638.235107421875; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }
@keyframes reverseAni {
  0% {
    stroke-dashoffset: 1638.235107421875; }
  80% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    fill: var(--mainColor); } }

/*# sourceMappingURL=index-back.css.map */
